# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
test/Visitor/Debug/
test/SmartPtr/Debug/
test/SmallObj/Debug/
*.user
test/Singleton/Debug/
test/ScopeGuard/Debug/
test/SafeFormat/Debug/
test/SafeBits/Debug/
test/RegressionTest/Release/
.vs/
test/CachedFactory/Debug/
test/Checker/Debug/
test/CheckReturn/Debug/
test/DeletableSingleton/Debug/
test/Factory/Debug/
test/flex_string/Debug/
test/Function/Debug/
test/LevelMutex/Debug/
test/LockingPtr/Debug/
test/Longevity/Debug/
test/OrderedStatic/Debug/
test/Pimpl/Debug/
test/RegressionTest/Debug/
Debug/
